@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid vh-100 d-flex justify-content-center align-items-center bg-light">
    <div class="row shadow rounded-4 bg-#b5b5b5 p-5" style="max-width: 900px; width: 100%;">
        <div class="col-md-7 d-flex flex-column justify-content-center">
            <div class="text-start">
                <h2 class="fw-bold mt-4 mb-3">Cadastra-se</h2>

                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-2" role="alert"></div>

                    <div class="mb-3">
                        <label asp-for="Input.Email" class="form-label fw-semibold">Seu Email:</label>
                        <input asp-for="Input.Email" class="form-control p-3" placeholder="example@email.com" autocomplete="username" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Input.Password" class="form-label fw-semibold">Senha</label>
                        <input asp-for="Input.Password" class="form-control p-3" placeholder="********" type="password" autocomplete="current-password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Input.Password" class="form-label fw-semibold">Confirmar Senha</label>
                        <input asp-for="Input.Password" class="form-control p-3" placeholder="********" type="password" autocomplete="current-password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <button id="login-submit" type="submit" class="btn btn-dark w-100 p-3 fw-semibold">
                        Cadastrar →
                    </button>

                   
                </form>
            </div>
        </div>

        <!-- ILUSTRAÇÃO LADO DIREITO -->
        <div class="col-md-5 d-none d-md-flex justify-content-center align-items-center">
            <img src="~/imagem/Captura de tela 2025-10-14 150208.png" alt="Illustration" class="img-fluid" style="max-width: 300px;" />
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
